@model CloudServiceChallenge2.Models.UserDataModel

@{
    ViewData["Title"] = "Create";
}

<h1>作成する</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">名前</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">勝利数</label>
                <input asp-for="NumberOfWins" class="form-control" />
                <span asp-validation-for="NumberOfWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">敗北数</label>
                <input asp-for="NumberOfDefeats" class="form-control" />
                <span asp-validation-for="NumberOfDefeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">ドローの数</label>
                <input asp-for="NumberOfDraws" class="form-control" />
                <span asp-validation-for="NumberOfDraws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="作成する" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">リストに戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
